<table class="table table-bordered">
    <thead>
      <tr>
        <th>SNO</th>
        <th>Street</th>
        <th>City</th>
        <th>Postal Code</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>John street</td>
        <td>Chennai</td>
        <td>674831</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Mary street</td>
        <td>Chennai</td>
        <td>674382</td>
      </tr>
      <tr>
        <td>3</td>
        <td>July street</td>
        <td>Banglore</td>
        <td>529321</td>
      </tr>
    </tbody>
  </table>
  
