<html>
  <head>
    <title>Land - OFS</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <div class="header-wrapper">
        <a href="#" class="header-brand">
          <img src="../assets/logo.png" class="logo" />
        </a>
        <div class="header-search">
          <input type="text" placeholder="Search for course" maxlength="200"/>
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="header-notification">
          <span class="fas fa-comment-alt"><span class="badge">3</span></span>&nbsp;
          <span class="fas fa-comments"><span class="badge">3</span></span>
        </div>
        <!-- <div class="header-profile">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
        </div> -->
      </div>
    </header>
    <div class="main-container">
      <div class="side-menu">
        <div class="side-menu-icons">
          <i class="fas fa-tachometer-alt"></i><span class="caption">Dashboard</span>
          <hr>
          <i class="fas fa-book-open"></i><span class="caption">Course</span>
          <hr>
          <i class="fas fa-cogs"></i><span class="caption">Settings</span>
          <hr>
          <i class="fas fa-users"></i><span class="caption">Account</span>
          <hr>
        </div>
      </div>
      <div class="content-section">
        <h3>Dashboard Contents goes here</h3>
      </div>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
