.app {
  position: absolute;
  width: 95%;
  height: 100%;
}
.lsp-container {
  position: absolute;
  width: 10%;
  height: 100%;
}
.rsp-container {
  position: relative;
  width: 90%;
  height: 100%;
  left: 12%;
}
.list-container {
  height: 50%;
  width: 100%;
  overflow-y: scroll;
}
.info-container {
  height: 50%;
  width: 100%;
}
.fields-container {
  width: 30%;
  height: 100%;
}
table {
  display: table;
}
.row {
  margin: 1%;
}
td {
  cursor: pointer;
}
