<div class="fields-container">
  <div class="form-group">
    <input type="text" class="form-control" disabled name="email" [(ngModel)]="personObj.id">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Firstname" [(ngModel)]="personObj.firstName">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Last name" [(ngModel)]="personObj.lastName">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Email" [(ngModel)]="personObj.email">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Date of birth" [(ngModel)]="personObj.birthDate">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="is admin?" [(ngModel)]="personObj.admin">
  </div>
  <button type="submit" class="btn btn-outline-primary" (click)="onSubmit()">Submit</button>
</div>
